<%- include("partials/header"); -%>

<div class="home">
  <h1></h1>
  <p> <%= startingContent %> </p>
</div>



<%  posts.forEach(function(post){ %>
<div class="postings">
  <h1><%=post.title%></h1>
</div>

<p>
  <%=post.content.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post._id%>">Read More</a>
</p>


<% }) %>




<%- include("partials/footer"); -%>